__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.venv/
venv/
env/

data/*.sqlite3
data/*.db
data/*.db-journal
data/*.sqlite3-journal

SUBMISSION_Group_51_NGO_Donation_Portal/
documents_pdf/
documents_docx/

.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db

SUBMISSION_Group_51_NGO_Donation_Portal/

architecture.jpeg
HOSTING.md
ng_portal_review3.py
Procfile
